
colorfondo = #F2F2F2
grisOscuro = #444
gristexto = #7A7A7A
azul = #22BCE0
naranja=#DD4F24
colorbody = #e8e8e8


@font-face {
	font-family: "iconos";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body
	background colorbody	
	color black
	font-size 16px
	font-family arial
	
	header
		background grisOscuro
		box-shadow 0 5px 0 rgba(0,0,0,0.2)
		overflow hidden
		position relative
		z-index 1	
		
		.logo
			border-right 1px solid azul			
			width 62px
			
			img		
				padding 0.5em
				width 52px
				
		.titular
			margin 0 80px 0 70px
			
			.titular-titulo
				color white
				font-size 18px
				margin 0
				padding 0.5em 0 0 0
				
			.titular-filtro				
				color azul
				font-size 14px
				font-weight bold
				font-style italic
				text-decoration none
			
			.titular-publicar
				background naranja
				border-radius 5px
				color white
				font-style italic
				float right
				margin 0 0.5em 1em 0
				padding 0.3em 0.5em				
				text-decoration none
				text-shadow 1px 1px black
				
				&:after
					content "\e002"
					color white
					font-family "iconos"
					margin 0 0 0 4px
				
		.usuario
			position absolute
			top 10px
			right 0
			
			.usuario-avatar
				margin 0 1.5em 0 0				
				position relative
				z-index 2			
				
				img
					width 50px
					border-radius 50%
					-webkit-animation animationAvatar alternate 3s infinite
			
			.usuario-flechita
				background naranja
				color white
				padding 0.1em 0.1em
				position absolute
				right 10px			
				text-decoration none
				text-align right
				top 17px
				width 50%
				
				&:after
					content "\e001"
					color white
					font-family "iconos"
				
	nav
		background azul
		border-left 15px solid white
		position relative
		
		&:before
			border-bottom 20px solid transparent
			border-left 7px solid white
			border-top 20px solid transparent
			content ""
			left 0
			position absolute			
			top 0

		.menu
			height 40px
			line-height 40px
			margin 0
			overflow-x auto
			padding 0
			white-space nowrap
			
			&::-webkit-scrollbar
				display none
			
			li
				display inline-block
				
				a
					color white
					display inline-block
					margin 0 0.3em
					padding 0 0.2em							
					text-decoration none					
					
					&:hover
						background rgba(black, 0.1)
	
	.posts
		padding 0.5em

		.post
			background white
			box-shadow 3px 3px 0 rgba(0,0,0,0.2)
			border-radius 0 0 0.8em 0.8em
			margin 0 0 1em 0
			
			.post-acciones
				border-top 2px solid azul
				padding 0.5em
				overflow hidden
			
				.acciones-datos
					float right
					
					.datos-comentarios
						background grisOscuro
						border-radius 5px
						color white
						padding 0.2em 0.5em
						text-decoration none					
					
					.datos-estrellita
						text-decoration none
						padding 0 0.3em

						&:before
							content "\e000"
							color naranja
							font-family "iconos"

				.acciones-votos
					float left
					
					.votos-up
						text-decoration none
						
						&:before
							content "\e003"
							color green
							font-family "iconos"

					.votos-down
						text-decoration none
						
						&:before
							content "\e001"
							color red
							font-family "iconos"
							
					.votos-total
						color gristexto
				
			.post-descripcion			
				
				.post-detalles
					height 165px					

					.detalle-autor
						margin 0.5em 0 1em 0
						
						a
							color naranja
					
					.detalle-fecha
						color gristexto
						float right
						margin 0 1em 0

					.detalle-tag
						background azul
						border-radius 0.5em
						color white
						text-decoration none
						padding 0.2em 0.5em						

					.detalle-titulo
						color grisOscuro
						font-size 18px
						font-style italic
						margin 0
						padding 0.2em 0.5em

				.imagen
					float left
					margin 0 0.5em 0 0					

					img
						vertical-align top
						height 160px
						width 120px

footer
	background naranja	
	color white
	padding 0.8em 0
	text-align center	
	width 100%
	
	h3		
		font-weight normal
		font-size 14px	
		
		strong
			display block
			
		.mejor
			&:before
				content '- '
				
			&:after
				content ' -'
			
						
.u-float-right
	float rigth			

.u-float-left
	float left


@media screen and (min-width: 768px)

	.posts
		.post
			display inline-block
			width 48%
			vertical-align top
			
			&:nth-child(odd)
				margin-right 0.5em
	
@keyframes animationAvatar {
	0%{
		-webkit-transform rotate(0deg)
	}
	20% {
	 	-webkit-transform rotate(180deg)
	}
	40%{
		-webkit-transform rotate(0deg)
	}
	60%{
		-webkit-transform rotate(-180deg)
	}
	80%{
		-webkit-transform rotate(0deg)
	}
}	