
colorfondo = #F2F2F2
grisOscuro = #444
gristexto = #7A7A7A
azul = #22BCE0
naranja=#DD4F24
colorbody = #e8e8e8

body
	background colorbody
	color black
	font-size 16px
	font-family arial
	
	header
		background grisOscuro
		
		.logo

			img
				border-right 1px solid azul
				padding 0.5em
				width 52px
				
		.titular
			
			.titular-titulo
				color white
				font-size 18px
				
			.titular-filtro
				color azul
				font-size 14px
				text-decoration none
				
		.usuario
			.usuario-avatar
				img
					width 50px
					border-radius 50%
						
.u-float-right
	float rigth			

.u-float-left
	float left